
$light-grey: #F5F5F5;

.breadcrumb {
		background-color:$light-grey;
		padding:10px;

		li {
			list-style: none;
			display: inline-block;
			padding-right: 10px;
		}

		li:not(:first-child) {
			&:before {
				padding-right: 15px;
				content: "/";
			}
		}


		a {
			text-decoration: none;

		}
	}