@media screen and (min-width: 1200px) {
	
@for $i from 1 through 12 {
	.col-lg-#{$i} {
		width: percentage($i/12);
		padding: 0 5%;
		box-sizing: border-box;
		float:left;
	}
}

	// .col-lg-6 { 
	// 	width: percentage(6/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;
	// 	float:left;

	// }.col-lg-4 { 
	// 	width: percentage(4/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;
	// 	float:left;

	// }

}




@media screen and (max-width: 1200px) and (min-width: 980px) {

@for $i from 1 through 12 {
	.col-md-#{$i} {
		width: percentage($i/12);
		padding: 0 5%;
		box-sizing: border-box;
		float:left;
	}
}
	// .col-md-12 { 
	// 	width: percentage(12/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;
	// 	float:left;

	// }
	// .col-md-6 { 
	// 	width: percentage(6/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;
	// 	float:left;

	// }
	// .col-md-4 { 
	// 	width: percentage(4/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;
	// 	float:left;

	// }
	
}




@media screen and (max-width:980px) and (min-width: 600px) {
	// $col-width: 81px;

@for $i from 1 through 12 {
	.col-sm-#{$i} {
		width: percentage($i/12);
		padding: 0 5%;
		box-sizing: border-box;
		float:left;
	}
}
	// .col-sm-8 {
	// 	width: percentage(8/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;

	// 	float:left;
		
	// }


	// .col-sm-4 {
	// 	width: percentage(4/12);
	// 	padding: 0 5%;
	// 	box-sizing: border-box;

	// 	float:left;
		
	// }



}





@media screen and (max-width: 600px) {
	
}